<!DOCTYPE HTML>
<html>
    <head>
       <title>Too Low</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id='wrapper'>
            <h3>Welcome to the Great Number Game!</h3>
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a guess!</p>
            <p class="me">{{ session['number'] }}</p>
            <img src="{{ url_for('static', filename='img/toolow.jpg') }}" alt="toolow" width='200px' height='200px'/><br>
            <form action='/guess' method='post'>
                <input type="text" name="guess"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
